<html>
<head>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <script src="<%= baseUrl %>libs/jquery.min.js"></script>
    <script src="<%= baseUrl %>libs/socket.io.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>lobby.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>libs/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css"/>
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>lobby.css"/>
    <title>NodeLudo - Lobby</title>
</head>
<body>
<div class="row">
    <div class="panel-heading">
    <div style="padding:0; align-content: center; ">
        <button style="width: 150px" id="logoutBtn">Change nickname</button>
        <div style="text-align: center; padding:0; margin: 0 0 -30px 150px;" class="title">
            <div class="title-blue">N
            </div><div class="title-red">o
            </div><div class="title-green">d
            </div><div class="title-yellow">e
            </div><div class="title-red">L
            </div><div class="title-green">u
            </div><div class="title-yellow">d
            </div><div class="title-blue">o
            </div>
        </div>
    </div>
    </div>
</div>
<div class="row" style="top: 50%;">
    <div class="lobby-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Players in lobby</b></div>
            <div class="panel-body">
                <div id="players"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="top: 50%;">
    <div class="lobby-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Ready Players</b></div>
            <div class="panel-body">
                <div id="readyPlayers"></div>
            </div>
            <div class="panel-footer">
                <div>
                    <button id="startGame" style="width: 25%">Start Game</button>
                    <button id="readyBtn" style="width: 20%">Ready</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="lobby-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Ongoing games <div id="ongoingGamesNumber" style="display: inline;"></div></b></div>
            <div id="ongoingGames" class="panel-body" style="overflow: auto; max-height: 380px; min-height: 20px;">

            </div>
            <div class="panel-footer">
                Click on a game to spectate.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="lobby-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Previous games <div id="previousGamesNumber" style="display: inline;"></div></b></div>
            <div id="previousGames" class="panel-body" style="overflow: auto; max-height: 480px; min-height: 20px;">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="lobby-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Regler</b></div>
            <div class="panel-body">
                <ol>
                    <li>En spiller får tre kast når han/hun ikke har noen brikker ute på brettet. Hvis spilleren får en
                        sekser så kan han/hun flytte ut en brikke og får et nytt kast.
                    </li>
                    <li>Når en brikke fra en spiller lander på en brikke fra en annen spiller så blir brikken(e) som
                        blir landet på slått ut. Men hvis brikken som blir landet på står på et felt av sin egen farge
                        så er den trygg.
                    </li>
                    <li>Når e spiller kaster en sekser så får han/hun et ekstra kast.</li>
                    <li>For å flytte brikken inn i mål så må terningen være nøyaktig, hvis den er høyere så kan ikke
                        brikken flyttes.
                    </li>
                    <li>Når flere brikker fra samme spiller er på samme rute så kan spilleren velge å flytte flere eller
                        alle av brikkene sammen.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer font-small pt-4">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="footer-copyright text-center py-3">Made by Trygve55 -
                <a href="https://github.com/trygve55/NodeLudo"> Github Repository</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div style="float:right">
                Version:
                <a id="patch-notes"  data-toggle="popover" data-trigger="focus" tabindex="0" title="Patch notes" data-placement="top" data-content="<% include patch-notes.ejs %>">0.1.29</a>
            </div>
        </div>
    </div>
</footer>
</body>